@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
	font-family: Inter;
	color: white;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: #0a0c1c;
}

.box {
	display: flex;
	flex-direction: row;
	background-color: #1b1937;
	border-radius: 8px;
	height: 50%;
	width: 70%;
}

.box1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.boit1 {
}

.title {
	font-weight: bold;
	font-size: 30px;
}

span {
	color: #ab5cdb;
}

.box2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.top3 {
	display: flex;
	flex-direction: column;
}

.big {
	color: white;
	font-weight: bold;
	font-size: large;
}

.small {
	font-size: 10px;
	color: grey;
}

.image {
	height: 100%;
	width: 50%;
	border-radius: 0px 8px 8px 0px;
	background-image: url("https://s3-alpha-sig.figma.com/img/fa69/495d/55a75cf7eb85a83d75c5d213ff6dd625?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=REg0WkN36AK4r6iBWynvXAwQHk46fKNb2Cv42L82C5s7IDSQuKfFRJfXyT~JGJUN7b6-cZFFMF-ssZvKXWL8ndgGn36GXWarION9Rbc~cz9X9a7B4xW-D0YBrhAg4RQj6~ZAoWXUo4~5ha7Fup6HzXfmL5bixIpCmW0Unc0wdz-X2yyfs-TcoXXVFOHY8AOzubzGoHvx-FfA6z3U7SHx8rVaVXi22V70OUowbu32KIKBhuXQ7AhjfT16RRS4iR~FRLkY6E372qGNPY2eQylHsKbTPPuwvVMJX7enBrdo~x7NRA9QGiuE-k68MwDiyyePuFXZZV9wlfek8Lf7JkEaxg__");
	background-color: #ab5cdb;
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
}
